# to run the application locally with docker, copy this file and remove an 'example' suffix
# then set up the proper secrets values to the following variables
# and run the application with command: docker compose -f docker-compose-local.yml  --env-file config.env up --build

POSTGRES_URL=${POSTGRES_URL}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=${POSTGRES_DB_NAME}
JWT_TOKEN=${JWT_TOKEN}
MAIL_HOST=${MAIL_HOST}
MAIL_PORT=${MAIL_PORT}
MAIL_USERNAME=${MAIL_USERNAME}
MAIL_PASSWORD=${MAIL_PASSWORD}
EMAIL_UNIVERSITY_DOMAIN=${EMAIL_UNIVERSITY_DOMAIN}
LDAP_URL=${LDAP_URL}
LDAP_BASE=${LDAP_BASE}
LDAP_DOMAIN=${LDAP_DOMAIN}
FF_EMAIL_TO_UNIVERSITY_DOMAIN_ENABLED=${FF_EMAIL_TO_UNIVERSITY_DOMAIN_ENABLED}
FF_LDAP_AUTHENTICATION_ENABLED=${FF_LDAP_AUTHENTICATION_ENABLED}
SCHEDULED_JOBS_ENABLED=${SCHEDULED_JOBS_ENABLED}
